{
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "auto",
	"printWidth": 150,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"semi": false,
	"useTabs": true,
	"htmlWhitespaceSensitivity": "css"
}
